// intro background
.intro__back {
	.intro__back-first {
		position: absolute;
		left: 0;
		top: 0;
		width: 70vw;
		height: 100vh;
		background-image: url('../img/back-1.jpg');
		z-index: -1;
		background-size: cover;
		@media (max-width: 768px) {
			display: none;
		}
	}
	.intro__back-second {
		position: absolute;
		right: 0;
		top: 0;
		width: 45vw;
		height: 105vh;
		background-image: url('../img/back-2.jpg');
		z-index: -1;
		background-size: cover;
		background-repeat: no-repeat;
		@media (max-width: 768px) {
			width: 100%
		}
		.intro__back_wrapper {
			position: relative;
			height: 105vh;
			width: 100%;
			.intro__back_text {
				text-transform: uppercase;
				font-family: $font-ProximaBold;
				color: $color-brown;
				opacity: 0.2;
				letter-spacing: 0.3rem;
				transform: rotate(90deg);
				position: absolute;
				top: 40vh;
				right: calc(41% - 120px);
				@media (max-width: 768px) {
					top: 60vh;
					right: 0;
				}
			}
			.line{
				height: 50px;
				width: 4px;
				display: flex;
				background-color: $color-brown;
				opacity: 1;
				position: absolute;
				top: calc(105vh - 25px);
				right:calc(41% - 2px);
				@media (max-width: 768px) {
					right: 10.5vh;
				}
			}
			.intro__back_share {
				position: absolute;
				right: 20px;
				bottom: 10px;
				fill: $color-brown;
				opacity: 0.4;
				.icon {
					height: 25px;
				}
				&:hover {
					cursor: pointer;
					opacity: 1;
					transition: all 0.1s linear;
				}
			}
		}
	}
}
// intro content
.intro {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	.intro_inner {
		height: 450px;
		@media (max-width: 940px) {
			height: 300px;
		}
		.intro__title {
			font-family: $font-ProximaBold;
			font-size: 6.66rem;
			color: $color-brown;
			text-transform: uppercase;
			letter-spacing: 2.05rem;
			@media (max-width: 940px) {
				font-size:4.5rem;
			}
			@media (max-width: 480px) {
				font-size:4.5rem;
				letter-spacing: 0.5rem;
			}
			@media (max-width: 380px) {
				font-size:3.5rem;
			}
		}
	}
	.intro__link {
		margin-top: 60px;
		@media (max-width: 940px) {
			margin-top: 30px;
		}
	}
	.intro__scroll {
		margin-top: 70px;
		@media (max-width: 940px) {
			margin-top: 40px;
		}
	}
}
// link
.link {
	border: 2px solid $color-white;
	width: 334px;
	padding: 22px 0px 22px 80px;
	@media (max-width: 940px) {
		padding: 15px 0px 15px 80px;
	}
	@media (max-width: 480px) {
		padding: 10px -30px 10px 30px;
	}
	@media (max-width: 380px) {
		padding:10px 30px;
		width: 200px; 
	}
	.link_inner {
		display: flex;
		align-items: center;
		@media (max-width: 380px) {
			flex-direction: column;
			align-items:flex-start;
		}
		.link__item {
			font-family: $font-ProximaBold;
			text-transform: uppercase;
			color: $color-white;
			letter-spacing: 0.33rem;
			font-size: 0.9rem;
		}
		.link__arrow {
			margin-left: 8px;
			@media (max-width: 380px) {
				margin-left: 0;
			}
			&::before {
				display: block;
				content: '';
				height: 1px;
				width: 35px;
				background-color: $color-white;
				transform: translateY(7px);
			}
			.icon {
				margin-left: 29px;
				height: 11px;
				width: 10px;
				fill: $color-white;
			}
		}
	}
	&:hover {
		cursor: pointer;
	}
	&:hover .link__arrow::before {
		width: 75px;
		transition: all 0.2s ease-in-out;
	}
	&:hover .link__arrow .icon {
		transform: translateX(40px);
		transition: all 0.2s ease-in-out;
	}
}
// scroll
.scroll {
	width: 30px;
	.scroll_inner {
		width: 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
		.scroll__mousse-icon {
			fill: $color-white;
			.icon {
				height: 30px;
				width: 20px;
			}
		}
		.scroll__arrow-icon {
			fill: $color-white;
			margin-top: 15px;

			&::before {
				display: block;
				content: '';
				height: 75px;
				width: 1px;
				background-color: $color-white;
				transform: translateX(5.5px);
			}
			.icon {
				width: 12px;
				height: 10px;
				transform: translateY(-10px);
			}
		}
		.scroll__subscribe {
			margin-top: 25px;
			text-transform: uppercase;
			color: $color-white;
			transform: rotate(90deg);
			opacity: 0.1;
		}
	}
	&:hover {
		cursor: pointer;
		transform: translateY(45px);
		transition: all 0.3s ease-in-out;
	}
	&:hover .scroll__subscribe {
		opacity: 1;
	}
	&:hover .scroll__arrow-icon::before {
		height: 30px;
		transition: all 0.3s ease-in-out;
	}
}
