.video {
    background-image: url('../img/video-back.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	padding: 80px 5%;
	overflow: hidden;
    &__inner {
       
    }
}
.video-back {
    .icon {
        fill: $color-white;
        height: 830px;
        width: 830px;
        position: absolute;
        top: 30px;
        opacity: 0.05;
        left: 50%;
        @media (max-width: 1120px) {
            height: 600px;
            width: 600px;
        }
    }
}
.video-item {
    margin-left: -100px;
    
    @media (max-width: 768px) {
        margin: 0;
    }
    
    .video-subscribe {
        display: flex;
        height: 730px;
        align-items: center;
        @media (max-width: 1120px) {
            height:500px;
        }
        @media (max-width: 675px) {
            height:400px;
        }

        .video-content{
            @media (max-width: 650px) {
                text-align: center;
                margin-bottom: 100px;
            }

            &__title {
                max-width: 510px;
                font-family: $font-ProximaBold;
                font-size: 3.2rem;
                color: $color-brown;
                text-transform: uppercase;
                letter-spacing: 0.08rem;
                line-height: 4rem;
                @media (max-width: 840px) {
                    font-size:2.5rem ;
                }
                @media (max-width: 480px) {
                    font-size:2rem ;
                    width: 100%;
                }
            }
    
            &__subtitle {
                max-width: 405px;
                color: $color-white;
                line-height: 1.66rem;
                margin-top: 40px;
                @media (max-width: 650px) {
                    text-align: center;
                    max-width: 90%;
                    margin: 40px auto;
                }
            }
        }
        .video-btn {
            border: 2px solid $color-white;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 305px;
            padding: 16px 0;
            margin-top: 40px;
            @media (max-width: 650px) {
                margin: 0 auto;
            }
            &__icon {
                margin-right: 15px;
                .icon {
                    width: 25px;
                    height: 25px;
                    fill: $color-white;
                }
            }
        
            &__link {
                text-transform: uppercase;
                font-size: 0.9rem;
                color: $color-white;
                letter-spacing: 0.2rem;
            }
            &:hover {
                background-color: $color-brown;
                border: 2px solid $color-brown;
                cursor: pointer;
                opacity: 0.5;
            }
            &:hover .video-btn__icon .icon {
                fill: $color-black;
            }
            &:hover .video-btn__link {
                color: $color-black;
            }
        }    
    }
    .video-lines {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 20px;
        transform: translateY(-95px);
        @media (max-width: 650px) {
            display: none;
        }
        .block-lines {
    
            &__title {
                background-color: $color-white;
			    margin-top: 30px;
            }
        
            &__subscribe {
                margin-top: 140px;
            }
        }
    }
    .video-watch {
        display: none;
        width: 100%;
       video{
            width: 100%;
       }
    }
}

